body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

#board {
    display:block;
    height:100vh !important;
    overflow-y: scroll; 
    padding:10px
}

::-webkit-scrollbar-track{
    background: rgb(19,45,55);
    background: linear-gradient(9deg, rgba(19,45,55,0.05926120448179273) 4%, rgba(19,45,55,0.6530987394957983) 10%, rgba(255,255,255,1) 31%, rgba(19,45,55,0.639093137254902) 51%, rgba(255,255,255,1) 71%, rgba(19,45,55,0.5886729691876751) 90%, rgba(19,45,55,0.020045518207282953) 96%);
}

::-webkit-scrollbar{
    height: 50px;
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(187, 187, 187);
    background: linear-gradient(27deg, rgba(19,45,55,1) 10%, rgba(255,255,255,1) 31%, rgba(19,45,55,1) 51%, rgba(255,255,255,1) 71%, rgba(19,45,55,1) 90%);
    border-radius: 10px;
}

.bodyTitle{
    background-color: #394a56;
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.saved-profile {
    display: flex;
    justify-content: space-between;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
    margin: 0px 32px;
}

.nav-wrapper {
    margin: 0;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
        -8px -4px 8px 0px #ffffff,
        8px 4px 12px 0px #d1d9e6,
        4px 4px 4px 0px #d1d9e6 inset,
        -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
        -8px -4px 8px 0px #ffffff,
        8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked~.indicator {
    transform: translate3d(25%, 0, 0);
}

.col-3, .col-9{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-3 {
    overflow-y: auto !important;
}
.row{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

#button_generate{
    margin: 0px 14px 0px;
    width: 98%;
    height: 3rem;
    background: aliceblue;
    font-size: 18px;
    text-align: center;
}

.icon_message__position{
    padding-top: 1.5vh;
}

.input_message__position{
    width: -webkit-fill-available;
    margin-left: 10px;
}

@media (max-width: 576px) {
    sidenav {
        padding-top: 15px;
        width: 100%;
    }

    .sidenav a {
        font-size: 18px;
    }
}
