body {
  overflow-y: hidden;
}

#card_comments {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  top: 10%;
  left: 0;
  background: linear-gradient(to right, rgba(142, 0, 0, 0), rgb(19, 0, 140));
}

.card_add {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 90%;
  left: 0%;
  background: darkslategray;
  display: flex
}
.comments_block{
 margin-bottom: 5%;
}
.input_message__position{
  flex:15;
  padding: 0px 15px;
  color: white;
}

.icon_message__position{
  flex:1;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.input-field {
  position: relative;
  margin-top: 8px;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin-top: 10px
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  /*margin-right: 15px;*/
}
@media (max-width: 768px) {
  body{
    background-color: #00001a !important
  }
  nav{
    height: 100%;
  }

}
@media (max-width: 500px) {
  .container {
    text-align: center;
    margin-top:0;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
  #search{
    width: 78%;
  }

  #search_button{
    width: 22%;
  }
  .comments_block{
    margin-bottom: 10%;
  }
}