body {
    overflow-y: scroll;
} 

.noHover {
    pointer-events: none;
    background: linear-gradient(to right, #141e30, #243b55);
    border-bottom:1px solid white;
}

::-webkit-scrollbar {
    display: none;
}
input[type=search]:not(.browser-default){
    width:68%;
}