#board {
    display:block;
    height:84vh !important;
    overflow-y: scroll; 
    padding:10px
}

#featureItemYou,
#featureItemSome{
    width: 75%; 
    position: relative
}

.itemPosition{
    position: absolute; 
    top: 0; 
    left:3px; 
    font-weight: bolder
}

#userSize{
    width: 99%; 
    position: relative; 
    margin-bottom: 5px;
}

.write_message{
    left: 24%;
    display: flex;
    width: auto;
    height: 9%;
    top: 91vh;
    right: 0%;
    position: fixed;
    background-color: #00001a !important;
}

.dropdown {
  float: left;
  position: relative;
  padding:10px;
  border: 1px solid;
  background: darkgray;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}

.userName{
  margin-top: auto;
  margin-bottom: auto;
}

#id_message{
    color: white;
}

@media (max-width: 768px) {
    .write_message{
        width: 100%;
        height: 9%;
        top: 85vh;
        left: 0%;
        position: fixed;
        background-color: #00001a !important
    }
    #board {
        height:78vh !important;
        padding-left: 20px;
    }
}
  