.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

nav>.nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;

}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 0px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus{
  border: none;
  background: #e74c3c;
  color: #fff;
  border-radius: 0;
  transition: background 0.20s linear;
}

.link_modal {
  display: flex;
  justify-content: flex-end;
}

a:hover{
  text-decoration: none !important;
}

.input-field input[type=text]:focus + label {
  color: #000;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

p{
  margin-top: 20px !important;
}

@media (max-width: 576px) {
  #myModal{
    margin: 0;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}