@import url(https://fonts.googleapis.com/css?family=Lato:700);
body {
  font-family: 'Lato', sans-serif;
  background-color:#2980b9;
  margin:0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #00001a !important;
} 

::-webkit-scrollbar {
  display: none;
}

.chatsInfo {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.container {
  background-color: aliceblue;
  min-width:675px;
  margin: 0;
  width: 100%;
}

.header {
  background-color: teal;
  padding: initial;
}

h1 {
  color:#fff;
  text-align:center;
  margin-top:90px;
}

.statistics {
  width:100%;
  margin:0;
  border:1px solid #224761;
  border-radius:5px;
  padding:5px;
  padding-bottom:1em;
  background-color:#224761;
}

.statistics > div {
  display:inline-block;
  min-width:500px;
  margin-left:5px;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.clear {
  clear:both;
}

h2 {
  opacity:0;
  color:#fff;
  text-transform: uppercase;
  text-align:center;
}

h2.title-one {
  animation: load-heading 0.5s linear;
  animation-fill-mode:forwards;
  -webkit-animation: load-heading 0.5s linear;
  -webkit-animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

h2.title-two {
  animation: load-heading 0.5s linear;
  animation-fill-mode:forwards;
  -webkit-animation: load-heading 0.5s linear;
  -webkit-animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

h2.title-three {
  margin-top: 3rem;
  animation: load-heading 0.5s linear;
  animation-fill-mode:forwards;
  -webkit-animation: load-heading 0.5s linear;
  -webkit-animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

@keyframes load-heading {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes load-heading {
  from {opacity: 0;}
  to {opacity: 1;}
}

.rings {
  height:200px;
  padding-left:2em;
}

.arrow {
  position: relative;
  height: 0px;
  width: 0px;
  border-top: 18px solid #dd1111;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  position:absolute;
  bottom:40px;
  left:40px;
  z-index:1;
  animation: load-arrow 0.5s linear;
  animation-fill-mode:forwards;
  -webkit-animation: load-arrow 0.5s linear;
  -webkit-animation-fill-mode:forwards;
}

@keyframes load-arrow {
  from { transform: translate(0,0); }
  to { transform: translate(0,55px); }
}

@-webkit-keyframes load-arrow {
  from { -webkit-transform: translate(0,0); }
  to { -webkit-transform: translate(0,55px); }
}

.pie {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 140px;
  background-color: #DD1111;
  float:left;
  margin-right:10px;
}

.pie .title {
  position:absolute;
  bottom:-40px;
  text-align: center;
  width:100%;
  color:#fff;
}

.pie1 .title {
  position:absolute;
  bottom:-61px;
  text-align: center;
  width:100%;
  color:#fff;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.outer-right {
  clip: rect(0px 140px 140px 70px);
}

.inner-right {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px 70px 140px 0px);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.pie1 .inner-right {
  transform: rotate(280deg);
  animation: load-right-pie-1 0.5s linear;
  -webkit-animation: load-right-pie-1 0.5s linear;
  -webkit-transform: rotate(280deg);
}

@keyframes load-right-pie-1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(280deg);}
}

@-webkit-keyframes load-right-pie-1 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(280deg);}
}

.pie2 .inner-right {
  transform: rotate(10deg);
  animation: load-right-pie-2 0.5s linear;
  -webkit-animation: load-right-pie-2 0.5s linear;
  -webkit-transform: rotate(10deg);
}

@keyframes load-right-pie-2 {
  from {transform: rotate(0deg);}
  to {transform: rotate(10deg);}
}

@-webkit-keyframes load-right-pie-2 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(10deg);}
}

.pie3 .inner-right {
  transform: rotate(340deg);
  animation: load-right-pie-3 0.5s linear;
  -webkit-animation: load-right-pie-3 0.5s linear;
  -webkit-transform: rotate(340deg);
}

@keyframes load-right-pie-3 {
  from {transform: rotate(0deg);}
  to {transform: rotate(340deg);}
}

@-webkit-keyframes load-right-pie-3 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(340deg);}
}

.outer-left {
  clip: rect(0px 70px 140px 0px);
}

.inner-left{
  background-color: #710000;
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px 70px 140px 0px);
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.content {
  width:60px;
  height:60px;
  border-radius:50%;
  background-color:#fff;
  position:absolute;
  top:20px;
  left:20px;
  line-height: 60px;
  font-family:arial, sans-serif;
  font-size:20px;
  color:#224761;
  text-align: center;
  z-index:2;
}

.content span {
  opacity: 0;
  animation: load-content 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation: load-content 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

@keyframes load-content {
  from {opacity:0;}
  to {opacity:1;}
}

@-webkit-keyframes load-content {  
  from {opacity:0;}
  to {opacity:1;}
}

.circles {
  position: relative;
  min-height:250px;
  left:5em;
}

.circles .circle-one {
  height:120px;
  width:120px;
  border-radius:50%;
  background-color: #DD1111;
  top:100px;
  z-index:2;
  font-size:18px;
  color:#fff;
}

.circles .circle-two {
  height:250px;
  width:250px;
  border-radius:50%;
  background-color:#fff;
  left:55px;
  font-size:30px;
  color:#DD1111;
}

.circles > div {
  position:relative;
  -webkit-transform: scale(0);
  transform: scale(0);
  position:absolute;
  animation: circles-load 0.5s cubic-bezier(0.17, 0.67, .58, 1.2);
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation: circles-load 0.5s cubic-bezier(0.17, 0.67, .58, 1.2);
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.circles .text {
  position:absolute;
  top:25%;
  left:19%;
  text-align: center;
}

.circles .text1 {
  position:absolute;
  top:25%;
  left:12%;
  text-align: center;
}

@keyframes circles-load {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes circles-load {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.h-bars > div {
  width:0;
  height:30px;
  border-radius: 2px;
  display:block;
  position:relative;
}

.h-bars *:before {
  position: absolute;
  left:-125px;
  top:4px;
  opacity:0;
  color:#fff;
}

.h-bars *:after {
  top:4px;
  opacity:0;
  position:absolute;
  color:#fff;
}

@keyframes bars-after {
  from { opacity:0; }
  to { opacity:1;}
}

@-webkit-keyframes bars-after{
  from { opacity:0; }
  to { opacity:1;}
}

.h-bars:before {
  animation: bars-after 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
  -webkit-animation: bars-after 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
}

.h-bars .bar-one,
.h-bars .bar-two,
.h-bars .bar-three,
.h-bars .bar-four,
.h-bars .bar-five,
.h-bars .bar-six,
.h-bars .bar-seven,
.h-bars .bar-eight,
.h-bars .bar-nine,
.h-bars .bar-ten,
.h-bars .bar-eleven,
.h-bars .bar-twelve,
.h-bars .bar-threeteen,
.h-bars .bar-forthteen,
.h-bars .bar-fifteen {
  display: fit-content;
}

.h-bars .bar-one {
  background-color:#1645c8;
  -webkit-animation: bars-bar-three 0.5s;
  animation: bars-bar-three 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-six {
  background-color:#1645c8;
  -webkit-animation: bars-bar-one 0.5s;
  animation: bars-bar-one 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-eleven {
  background-color:#1645c8;
  -webkit-animation: bars-bar-three 0.5s;
  animation: bars-bar-three 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;   
}

.h-bars .bar-two {
  background-color:#0c8ec0;
  -webkit-animation: bars-bar-two 0.5s;
  animation: bars-bar-two 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-seven {
  background-color:#0c8ec0;
  -webkit-animation: bars-bar-four 0.5s;
  animation: bars-bar-four 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-twelve {
  background-color:#0c8ec0;
  -webkit-animation: bars-bar-two 0.5s;
  animation: bars-bar-two 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;    
}

.h-bars .bar-three {
  background-color:#c0392b;
  -webkit-animation: bars-bar-five 0.5s;
  animation: bars-bar-five 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-eight {
  background-color:#c0392b;
  -webkit-animation: bars-bar-five 0.5s;
  animation: bars-bar-five 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-threeteen {
  background-color:#c0392b;
  -webkit-animation: bars-bar-five 0.5s;
  animation: bars-bar-five 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-four {
  background-color:#27b096;
  -webkit-animation: bars-bar-four 0.5s;
  animation: bars-bar-four 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-nine {
  background-color:#27b096;
  -webkit-animation: bars-bar-two 0.5s;
  animation: bars-bar-two 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-forthteen {
  background-color:#27b096;
  -webkit-animation: bars-bar-four 0.5s;
  animation: bars-bar-four 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-five {
  background-color:#95a5a6;
  -webkit-animation: bars-bar-one 0.5s;
  animation: bars-bar-one 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-ten {
  background-color:#95a5a6;
  -webkit-animation: bars-bar-three 0.5s;
  animation: bars-bar-three 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

.h-bars .bar-fifteen {
  background-color:#95a5a6;
  -webkit-animation: bars-bar-one 0.5s;
  animation: bars-bar-one 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;
}

/*h-bars before*/
.h-bars .bar-one::before,
.h-bars .bar-two::before,
.h-bars .bar-three::before,
.h-bars .bar-four::before,
.h-bars .bar-five::before,
.h-bars .bar-six::before,
.h-bars .bar-seven::before,
.h-bars .bar-eight::before,
.h-bars .bar-nine::before,
.h-bars .bar-ten::before,
.h-bars .bar-eleven::before,
.h-bars .bar-twelve::before,
.h-bars .bar-threeteen::before,
.h-bars .bar-forthteen::before,
.h-bars .bar-fifteen::before {
  animation: bars-after 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
  -webkit-animation: bars-after 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode:forwards;
}

.h-bars .bar-one:before,
.h-bars .bar-six:before {
  content: '№1';
}

.h-bars .bar-two:before,
.h-bars .bar-seven:before {
  content: '№2';
}

.h-bars .bar-three:before,
.h-bars .bar-eight:before {
  content: '№3';
}

.h-bars .bar-four:before,
.h-bars .bar-nine:before {
  content: '№4';
}

.h-bars .bar-five:before,
.h-bars .bar-ten:before {
  content: '№5';
}

.h-bars .bar-eleven:before {
  content: 'Flooder';
}

.h-bars .bar-twelve:before {
  content: 'Leader';
}

.h-bars .bar-threeteen:before {
  content: 'Top';
}

.h-bars .bar-forthteen:before {
  content: 'God';
}

.h-bars .bar-fifteen:before {
  content: 'Omg';
}

/*h-bars after*/
.h-bars .bar-one::after,
.h-bars .bar-two::after,
.h-bars .bar-three::after,
.h-bars .bar-four::after,
.h-bars .bar-five::after,
.h-bars .bar-six::after,
.h-bars .bar-seven::after,
.h-bars .bar-eight::after,
.h-bars .bar-nine::after,
.h-bars .bar-ten::after,
.h-bars .bar-eleven::after,
.h-bars .bar-twelve::after,
.h-bars .bar-threeteen::after,
.h-bars .bar-forthteen::after,
.h-bars .bar-fifteen::after{
  animation: bars-after 0.5s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  -webkit-animation: bars-after 0.5s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 0.5s;    
}

.h-bars .bar-one::after {
  content: 'WOW';
  right:-60px;
}
.h-bars .bar-eleven::after {
  content: 'YOU ARE THE KING!';
  right:-150px;
}

.h-bars .bar-two::after {
  content: 'You are the best!';
  right:-130px;
}
.h-bars .bar-twelve::after {
  content: 'OMG';
  right:-50px;
}

.h-bars .bar-three::after {
  content: 'So good!';
  right:-80px;
}
.h-bars .bar-threeteen::after {
  content: 'Powerful!';
  right:-80px;
}

.h-bars .bar-four::after {
  content: 'Cool';
  right:-50px;
}

.h-bars .bar-forthteen::after {
  content: 'Pretty boy';
  right:-90px;
}

.h-bars .bar-five::after {
  content: 'Not bad at all';
  right:-110px;
}

.h-bars .bar-fifteen::after {
  content: 'Great';
  right:-60px;
}

.h-bars .bar-six::after {
  content: 'LOOSERS';
  right:-80px;
}

.h-bars .bar-seven::after {
  content: 'Hopelessly';
  right:-90px;
}

.h-bars .bar-eight::after{
  content: 'Why so weak?';
  right:-110px;
}

.h-bars .bar-nine::after{
  content: 'Bad!';
  right:-50px;
}

.h-bars .bar-ten::after{
  content: 'Can be better';
  right:-110px;
}

@keyframes bars-bar-one {
  from { width:0; }
  to { width:80px;}
}

@-webkit-keyframes bars-bar-one {
  from { width:0; }
  to { width:80px;}
}

@keyframes bars-bar-two {
  from { width:0; }
  to { width:250px; }
}

@-webkit-keyframes bars-bar-two {
  from { width:0; }
  to { width:250px; }
}

@keyframes bars-bar-three {
  from { width:0; }
  to { width:330px;}
}

@-webkit-keyframes bars-bar-three {
  from { width:0; }
  to { width:330px;}
}

@keyframes bars-bar-four {
  from { width:0; }
  to { width:120px;}
}

@-webkit-keyframes bars-bar-four {
  from { width:0; }
  to { width:120px;}
}

@keyframes bars-bar-five {
  from { width:0; }
  to { width:200px; }
}

@-webkit-keyframes bars-bar-five {
  from { width:0; }
  to { width:200px; }
}

a{
  text-decoration:none;
}
.stat a{
  color:#094F80;
  letter-spacing:2px;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
.stat a:hover{
  color:#fff;
}
.date{
  color:#fff;
  font-size:.6em;
}
.quote{
  color:#094F80;
  font-size:.8em;
  font-style:italic;
  
}
.auth{
  color:#fff;
  margin-left:30%;
  font-size:.6em;
}
@media only screen and (min-width:600px){
  .statistics > div{
    display:block;
    max-width:100%;
    float:none;
  }
  .h-bars{
    margin-left:25%;
  }
  h2{text-align:left;
    margin-left:15%;
  }
  
}
@media only screen and (min-width:900px){
  
    .statistics{
      width:100%;
    }
   .statistics > div{
    display:inline-block;
    max-width:100%;
    margin:0;
  }
  h2{
    text-align:center;
    margin-left:-1em;
  
  }
}

.fa {
  font-size: 25px;
}
 
.checked {
  color: orange;
}

@media (min-width: 1200px){
  .container {
      max-width: inherit;
  }
}
@media (min-width: 992px){
  .container {
    max-width: inherit;
  }
}
@media (max-width: 768px){
  .container {
    max-width: inherit;
  }
}
@media (max-width: 576px){
  body{
    width: fit-content;
    overflow-x: hidden;
  }
  .container {
    max-width: inherit;
  }
}