* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.header{
  padding-top: 3rem;
  height:10rem;
}

.p-t-27 {padding-top: 27px;}
.p-b-34 {padding-bottom: 34px;}
.p-b-89 {padding-bottom: 89px;}
.m-b-20 {margin-bottom: 20px;}
.text-center {text-align: center;}
.w-full {width: 100%;}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
  
a:focus {
  outline: none !important;
}
  
a:hover {
  text-decoration: none;
  color: white;
  background-color: #333333 !important;
}
  
p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
  
input {
  outline: none;
  border: none;
}
  
button {
  outline: none !important;
  border: none;
  background: transparent;
}
  
button:hover {
  cursor: pointer;
}
  
.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #00ad5f;
  text-transform: uppercase;
}
  
.limiter {
  width: 100%;
  margin: 0 auto;
}
  
.container-login100 {
  width: 100%;  
  min-height: 82vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}
  
.wrap-login100 {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.login100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more-singIn {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  /*height:76vh*/
}

/*[ Form ]*/
  
.login100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 65px 40px 65px;
}
  
.login100-form-title {
  font-family: Poppins-Regular;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  display: block;
}

/*[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}
  
.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}
  
.rs2-wrap-input100 {
  border-left: none;
}
  
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}
  
  
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  
  visibility: hidden;
  opacity: 0;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}
  
.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #00ad5f;
  
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
  
.login100-form-btn:hover {
  background: #333333;
  text-decoration: none;
  color: white;
}

/*[ Responsive ]*/
@media (max-width: 992px) {
  .login100-form {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .login100-more-singIn{
    width: 40%;
  }
  .login100-more {
    width: 40%;
  }
}
    
@media screen and (max-device-width:768px){
  .login100-form {
    width: 100%;
    padding:15px 10px 15px 10px;
  }
  .login100-more {
    width: 100%;
    display: none;
  }
  .login100-more-singIn {
    display: none;
  }
  .container-login100{
    min-height: 40vh;
  }
  .p-b-89{
    padding-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
    
  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }
  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
  }
}