{% extends 'chat/sidepanel.html' %}

{% load static%}
{% block stylesChat%}
    <link type="text/css" rel="stylesheet" href="{% static 'css/copyit.css' %}">
{% endblock%}

{% block body %}

<div class="section">
    <div class="row">
        
        {% block configuration%}
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 px-0">
            <div class="card" style='height:94vh;'>
        {% endblock %}                    
                
                {% block usersORchats%}

                    <div class="nightmode_changed_color collection" style='height:93vh; overflow-y: auto;'>
                        <!-- Private Chats -->
                        <div class="bodyTitle">
                            <button id='button_generate' class="buttonload">
                            <i class="fa fa-spinner fa-spin"></i> Random Chat
                            </button>
                            <h1 class='titleDesc'>Private chats</h1>
                        </div>

                        {% for chat in private_chats %}
                        <a href="{% url 'chat' chat.id %}" id="user{{ user.id }}" class="collection-item row">
                            {% load static %}
                            <img src="{% static 'img/beer.png' %}" alt="Beeeeeer" class="col s4">
                            <div class="col s8">
                                <span class="title" style="font-weight: bolder">{{ chat.name }}</span>
                            </div>
                        </a>
                        {% endfor %}


                        <!-- Public Chats -->
                        <div>
                            <h1>Public chats</h1>
                        </div>
                        {% for chat in public_chats %}
                        <a href="{% url 'chat' chat.id %}" id="user{{ user.id }}" class="collection-item row">
                            {% load static %}
                            <img src="{% static 'img/beer.png' %}" alt="Beeeeeer" class="col s4">
                            <div class="col s8">
                                <span class="title" style="font-weight: bolder">{{ chat.name }}</span>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                {% endblock %}
            </div>
        </div>
        
        <div class="col-12 col-xs-12 col-sm-12 col-md-9 px-0 nightmode_changed_color section">
            <div class="card" style='border: 0px solid rgba(0,0,0,0);'>
                <div id="board" class="nightmode_changed_color section">

                    {% block mess %}
                    {% endblock %}

                    {% block input%}
                    {% endblock %}

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
{% block javascript %}{% endblock %}