{% extends 'chat/sidepanel.html' %}

{% load static %}
{% block stylesChat %}<link type="text/css" rel="stylesheet" href="{% static 'css/contacts.css' %}">{% endblock %}
{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'css/comments.css' %}">{% endblock %}

{% block body %}

    <div class="nightmode_changed_color" id='contacts_scroll'>

        <div class="nightmode_changed_color card card-default" id="card_contacts" style='height: 100vh;'>
            <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
                <div class='comments_block'>
                {% for comment in comments %}
                    <div class="container">
                        <img src="https://st2.depositphotos.com/1010550/7946/i/600/depositphotos_79461036-stock-photo-standing-boys-silhouette.jpg"
                            alt="Avatar" style="width:90px">
                        <p><span>{{ comment.author.username }}</span></p>
                        <p>{{comment.message }}</p>
                    </div>
                {% endfor %}
                </div>

                 <div class="card_add">
                    <div class="input_message__position">
                        <div class="input-field">
                            <input required='' autofocus='' id="id_message" name="message" type="text"
                                placeholder="Type your message..">
                        </div>
                    </div>

                    <div class="icon_message__position">
                        <button id="send-comment" class="btn btn-floating blue lighten-2 waves-effect waves-light"
                            style="border-radius: 50%;padding: 0px 3px;">
                            <i class="material-icons">send</i></button>
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
    <script type="text/javascript" src="{% static 'js/add_comment.js' %}"></script>

    {% block javascript %}{% endblock %}
    {% block content %}{% endblock %}
    
{% endblock %}