{% extends 'chat/sidepanel.html' %}

{% load static %}
{% block stylesChat %}<link type="text/css" rel="stylesheet" href="{% static 'css/contacts.css' %}">{% endblock %}

{% block body %}

    <div class="nightmode_changed_color container-fluid" id='contacts_scroll'>
        <!-- contacts card -->
        <form class="form-inline" action="{% url 'contacts' %}" style='justify-content: space-between;'>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search_input">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id ="search_button">Search</button>
        </form>

        <div class="nightmode_changed_color card card-default" id="card_contacts" style='height: 100vh;'>
            <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
                
                <ul class="list-group pull-down" id="contact-list">   
                    {% for user in users %}
                    <li class="noHover">
                        <div class="row w-90">
                            <div class="col-12 col-sm-6 col-md-3 px-0">
                                {% load static %}
                                <img src="{% static 'img/logo.png' %}" alt="Beeeeeer" alt="img" style="width: 100px; height: 100px; padding: 10px; "class="rounded-circle mx-auto d-block img-fluid">
                            </div>
                            <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                                <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                                <label class="name lead">{{ user.username }}</label>
                                <br> 
                                <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip style="width: auto;"></span>
                                <span class="text-muted">Ukraine</span>
                                <br>
                                <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip"></span>
                                <span class="text-muted small text-truncate">{{ user.email }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    
    <script src="{% static 'js/search_contacts.js' %}"></script>
{% endblock %}