{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>PivChat</title>{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/register.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

{% block body %}
    <div class="section blue lighten-3 header">
        <div class="container white-text center-align text">
            <h2>A special PivChat for RealMens</h2>
            <p>Owned by MBGM corporation</p>
        </div>
    </div>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                {% block form %}

                <form id="login-form" class="login100-form validate-form form-group" method="post">
                    {% csrf_token %}

                    <span class="login100-form-title p-b-34">
                        Account Login
                    </span>


                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name"
                        style="width: 100%;">
                        <input id="id_username" class="input100" type="text" name="username" placeholder="User name"
                            style="margin:0px; padding-left: 5px;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password"
                        style="width: 100%;">
                        <input id="id_password" class="input100" type="password" name="password" placeholder="Password"
                            style="margin:0px; padding-left: 5px;">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">

                        <button name="login" class="login100-form-btn">
                            Sign in
                        </button>
                        <button name="guest" class="login100-form-btn">
                            Enter as guest
                        </button>
                        
                        <a href="{% url 'social:begin' 'facebook' %}" class="login100-form-btn" style= 'background:blue'>Facebook</a>
                        <a class="login100-form-btn" href="{% url 'social:begin' 'github' %}" style= 'background:red'>Github</a>
                        <a class="login100-form-btn" href="{% url 'social:begin' 'google-oauth2' %}" style= 'background:orange'>Google</a>

                    </div>

                    <div class="w-full text-center p-t-27 p-b-89">
                        <!--<span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            User name / password?
                        </a>-->
                    </div>

                    <div class="w-full text-center">
                        <a href="{% url 'register' %}" class="txt3">
                            Sign Up
                        </a>
                    </div>
                </form>

                {% load static %}
                <img class="login100-more-singIn" src="{% static 'img/login.jpg' %}" alt="Image">
                
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

</html>