{% extends 'chat/chat.html' %}
{% load static %}
{% block title %} <title>Pivchat - {{ chat.name}}</title> {% endblock %}
{% block configuration%}
    <div class="col-12 d-none d-md-block col-xs-12 col-sm-12 col-md-3 px-0">
    <div class="nightmode_changed_color card" style='height:94vh; overflow-x:hidden;padding-left: 15px;z-index:2'>
{% endblock %} 

        {% block usersORchats%}
        <link type="text/css" rel="stylesheet" href="{% static 'css/message.css' %}">
            <h1 class='titleDesc'>{{ chat.name }}</h1>

          <h1 class='titleDesc'>Users:</h1>

          {% for member in members %}
            <div class="dropdown">
              <h4 class="userName">{{member.username}}</h4>
            </div>   
          {% endfor %}

        {% endblock %}
    </div>
</div>

<div class="col-12 col-sm-12 col-md-9 px-0">
    <div class="card">
        <div id="board" class="nightmode_changed_color section">

            {% block mess%}
                {% for message in messages %}
                    {% if message.author == user %}

                        <div class="card-panel right" id='featureItemYou'>
                            <div class="itemPosition title">You</div>
                            {{ message.message }}
                        </div>

                    {% else %}
                        <div class="card-panel left blue lighten-5" id='featureItemSome'>
                            <div class="itemPosition title">{{ message.author }}</div>
                            {{ message.message }}
                        </div>
                    {% endif %}
                {% endfor %}

                <script>
                    function scrollDown() {
                        let elem = document.getElementById('board');
                        document.getElementById('board').scrollTop = elem.scrollHeight;
                    }
                    scrollDown();

                    let id = "{{ chat.id|safe }}";
                    let user_name = "{{ user.username|safe }}";
                    let host = "{{ host|safe }}";
                </script>
                <script type="text/javascript" src="{% static 'js/sendmessage.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/copied.js' %}"></script>
                {% endblock %}

            
                        
            <form id="chat-box" class="form-group" method="post">
                {% csrf_token %}
                {% block input%}
                
                <div class="write_message">
                    
                    <div class="input_message__position">
                        <div class="input-field">
                            <input autocomplete="off" id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>

                    <div id='tooltip' class="icon_message__position">
                        <button id='click_button' class="btn btn-floating blue lighten-2 waves-effect waves-light" onmouseout="outFunc()">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                        <span class="tooltiptext" id="myTooltip">Generate Invite Link</span>
                    </div>

                    <div class="icon_message__position">
                        <button id='sendmessage' class="btn btn-floating blue lighten-2 waves-effect waves-light">
                            <i class="material-icons">send</i></button>
                    </div>
                </div>
                {% endblock %}
            </form>
            
        </div>
    </div>
</div>