{% extends 'chat/sidepanel.html' %}

{% load static%}
{% block meta %}<meta name="viewport" content="width=device-width, minimum-scale = 0.25">{% endblock %}
{% block stylesChat %}<link type="text/css" rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block body %}

<div class="container">
    <h1 class='header'>
        <small>PivChat Statistics</small>

        <span class = 'stat'></span><br>
        <span class = 'date'>{{ request.user.username }} - {{user_status.0}}</span>

        <span class="stars"></span><br>

        <script>
            value = "{{ user_status.1|safe }}"
            console.log(value)
            let stars = '';
            let val=['<span class="fa fa-star checked"></span>','<span class="fa fa-star"></span>']
  
            for(let i=0;i<value;i++){
              stars+=val[0]
              console.log(stars)
            }
            for(let j=0; j<5-value;j++){
                stars+=val[1]
            }
            let str = document.getElementsByClassName('stars')[0];
            str.innerHTML=stars
        </script>

        <span class ='quote'>"Find company and go drink beer!"</i></span><br>
        <span class='auth'>- Borys Bilkevych</span>

        <hr>

    </h1>
    
    <div class="statistics">

        <div>
            <h2 class="title-one">General Review</h2>
            <div class="rings">

                <div class="pie pie1">

                    <div class="title">Anonymous Users</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>{{ a_users }}</span>
                    </div>
                    <div class="arrow"></div>

                </div>

                <div class="pie pie2">

                    <div class="title">Private Chats</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>{{ private_count }}</span>
                    </div>
                    <div class="arrow"></div>

                </div>

                <div class="pie pie3">

                    <div class="title">Public chats</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>{{ public_count }}</span>
                    </div>
                    <div class="arrow"></div>

                </div>

                <div class="pie pie1">

                    <div class="title">Total Messages</div>
                    <div class="outer-right mask">
                        <div class="inner-right"></div>
                    </div>

                    <div class="outer-left mask">
                        <div class="inner-left"></div>
                    </div>
                    <div class="content">
                        <span>{{ allmessages }}</span>
                    </div>
                    <div class="arrow"></div>

                </div>

                <div class="clear"></div>
            </div>
        </div>

        <div>
            <h2 class="title-two">{{request.user.username}} Activity</h2>
            <div class="circles">
                <div class="circle-one">
                    <div class="text">&nbsp;&nbsp;{{ chats_today }}<br>Created<br>&nbsp;&nbsp;Today</div>
                </div>
                <div class="circle-two">
                    <div class="text1">Created Chats<br>&nbsp;&nbsp;{{ chats_count_user }}</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <div class='chatsInfo'>
            <div>
                <h2 class="title-three">The most popular chats (by messages): </h2>
                <div class="h-bars">
                    <div class='bar-one'> {{popular_chats.0.name}} </div>
                <div class="bar-two">{{popular_chats.1.name}}</div>
                    <div class="bar-three">{{popular_chats.2.name}}</div>
                    <div class="bar-four">{{popular_chats.3.name}}</div>
                    <div class="bar-five">{{popular_chats.4.name}}</div>
                    <div class="clear"></div>
                </div>
            </div>

            <div>
                <h2 class="title-three">The least popular chats (by messages): </h2>
                <div class="h-bars">
                    <div class="bar-six">{{ unpopular_chats.0.name }}</div>
                    <div class="bar-seven">{{ unpopular_chats.1.name }}</div>
                    <div class="bar-eight">{{ unpopular_chats.2.name }}</div>
                    <div class="bar-nine">{{ unpopular_chats.3.name }}</div>
                    <div class="bar-ten">{{ unpopular_chats.4.name }}</div>
                    <div class="clear"></div>
                </div>
            </div>

            <div>
                <h2 class="title-three">Users Rating (by messages)</h2>
                <div class="h-bars">
                    <div class="bar-eleven">{{ users.0.username }}</div>
                    <div class="bar-twelve">{{ users.1.username }}</div>
                    <div class="bar-threeteen">{{ users.2.username }}</div>
                    <div class="bar-forthteen">{{ users.3.username }}</div>
                    <div class="bar-fifteen">{{ users.4.username }}</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
