{% extends 'chat/index.html' %}

{% block form %}
    <form id="register-form" class="login100-form validate-form form-group" method="post">
        {% csrf_token %}

        <span class="login100-form-title p-b-34">
            Account Register
        </span>


        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20 " data-validate="Type user name"
            style="width: 100%;">
            <label for="id_username" data-error="Username already taken">Username</label>
            {{ form.username }}
            <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20 " data-validate="Type user name"
            style="width: 100%;">
            <label for="email" data-error="None">Email</label>
            {{form.email}}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20 " data-validate="Type user name"
            style="width: 100%;">
            <label for="id_password">Password</label>
            {{form.password1}}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20 " data-validate="Type user name"
            style="width: 100%;">
            <label for="id_password2">Repeat Password</label>
            {{form.password2}}
            <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
            <button name="login" class="login100-form-btn">
                Register
            </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-89">
            <!--<span class="txt1">
                Forgot
            </span>

            <a href="#" class="txt2">
                User name / password?
            </a>-->
        </div>

        <div class="w-full text-center">
            <a href="{% url 'index' %}" class="txt3">
                Sign IN
            </a>
        </div>
        
    </form>


    {% load static %}
    <img class="login100-more" src="{% static 'img/login.jpg' %}" alt="Image">
{% endblock %}