{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Meta data-->
        {% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}

        <!--Blocks-->
        {% block title %}<title>PivChat</title>{% endblock %}
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/chat.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/sidepanel.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/modal.css' %}">

        {% block stylesChat%} {% endblock%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/sidepanel.js' %}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
    </head>

    <body>

        <nav class="blue lighten-3">
            <div class="nav-wrapper container-fluid">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
                </ul>
                <a href="{% url 'chats' %}" class="brand-logo">PivChat</a>
                <a id='powerOff' href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a>
            </div>
        </nav>
        <div class="nightmode_changed_color modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div>
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active_link_1" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Create
                                        Chat</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="modal-body">
                                        <form action="/chats/" method="POST" id="createchatform">
                                            {% csrf_token %}
                                            <label for="chatname">Chat name:</label><br>
                                            <input type="text" id="chatname" name="chatname" value="" placeholder="Name of your chat" autocomplete="off"><br>

                                            <p>Select state of chat group:</p>
                                            <input type="radio" id="private" name="state" value="private">
                                            <label for="private">Private</label><br>
                                            <input type="radio" id="public" name="state" value="public">
                                            <label for="public">Public</label><br>

                                            <div class="link_modal">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                    style="margin:0px 10px">Close</button>
                                                <button type="submit" class="btn btn-success" data-dismiss="modal"
                                                    id="submit-create">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mySidenav" class="nightmode_changed_color sidenav" style="z-index: 3;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <section class="logo-section">
                <section class='saved-profile'>
                    {% load static %}
                    <img id='logo_sidepanel' src="{% static 'img/anonymous.png' %}" alt="Image">
                    
                    <div>
                        <button class="btn btn-floating white waves-effect waves-light"
                            style="border-radius: 50%;padding: 0px 1px;">
                            <!--<i class="material-icons">send</i>--><img src="{% static 'img/beer.png' %}" alt="Beeeeeer"
                            style='width: 50px; padding: 0px 11px 0px 0px;'>
                        </button>
                    </div>
                </section>
                <a href="{% url 'profile' %}"><h5 class='profile-name'>{{ user.username }}</h5></a>
            </section>

            <a href="#" data-toggle="modal" data-target="#myModal">New Chat</a>
            <a href="{% url 'contacts' %}">Contacts</a>
            <a href="{% url 'comments' %}">Comments</a>
            <section class='saved-profile'>
                <a href="#" id="nightmode-href">Night mode</a>
                <label class="label">
                    <div class="toggle">
                        <input class="toggle-state" type="checkbox" name="check" value="{{ user.nightmode }}" id='switcher'>
                        <div class="indicator"></div>
                    </div>
                </label>
            </section>
        </div>

        {% block content %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/nightmodelogic.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/createchat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modalactive.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/randomchat.js' %}"></script>

    </body>
</html>